spring.application.name=TwitterCloneBackend

# Database configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Security configuration
jwt.secret=