spring.application.name=TwitterCloneBackend

# Database configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

# Security configuration
jwt.secret=
app.cookie.secure=false # Set to true if using HTTPS